In [21]:
from Enthalpy_calculation import H_miedema

import numpy as np, pandas as pd

from pyxtal.symmetry import Group
from pyxtal.molecule import pyxtal_molecule
from pymatgen.core import Molecule
from pyxtal import pyxtal
import ase
from ase.spacegroup import crystal
from ase.visualize import view
from ase.neighborlist import get_distance_matrix
from ase.geometry import get_distances

from ase.geometry.analysis import Analysis
from pyxtal.lattice import Lattice
import ase.io as io
from ase.build import cut
from ase.spacegroup import crystal
from pyxtal.viz import display_crystals
# import pandas as pd
from ase.spacegroup import Spacegroup
from Enthalpy_calculation import H
# from ovito.pipeline import StaticSource, Pipeline
# from ovito.io.ase import ase_to_ovito
# from ase.atoms import Atoms
# from ovito.io import *
# from ovito.data import *
# from ovito.modifiers import *
# from ovito.pipeline import *
# import numpy as np
# import ovito
import pyTEMlib
import pyTEMlib.crystal_tools

In [22]:
params_2 = {'spacegroup': 139, 'basis': [(0.5, 0.5, 0.5), (0.277, 0.5, 0.0), (0.361, 0.0, 0.0), (0.25, 0.25, 0.25)], 'symbols': np.array(['Th', 'Mn', 'Mn', 'Mn'], dtype=object), 'cellpar': np.array([[ 8.7,  8.7,  5. , 90. , 90. , 90. ]]), 'occupancies': np.array([1., 1., 1., 1.])}

In [23]:
crystal_parameters_df = pd.read_excel('crystal_parameters.xlsx',index_col=0, header=None)
params = {'spacegroup': crystal_parameters_df.loc['spacegroup'].values[0],
    'basis': [tuple(x) for x in crystal_parameters_df.loc[['x','y','z'],:].values.T],
    'symbols': crystal_parameters_df.loc['symbols'].values,
    'cellpar': crystal_parameters_df.loc[['a', 'b', 'c', 'alpha', 'beta', 'gamma']].loc[:, 1].values,
    'occupancies': crystal_parameters_df.loc['occupancies'].values,
    
}

type_of_compound = crystal_parameters_df.loc['type of compound'].values[0]

In [24]:
params_2 = {
    'basis': [tuple(x) for x in crystal_parameters_df.loc[['x','y','z'],:].values.T],
    'symbols': crystal_parameters_df.loc['symbols'].values,
    'cellpar': crystal_parameters_df.loc[['a', 'b', 'c', 'alpha', 'beta', 'gamma']].loc[:, 1].values,
    'occupancies': crystal_parameters_df.loc['occupancies'].values,
    
}

In [25]:
params_2

{'basis': [(0.5, 0.5, 0.5),
  (0.277, 0.5, 0),
  (0.361, 0, 0),
  (0.25, 0.25, 0.25)],
 'symbols': array(['Th', 'Mn', 'Mn', 'Mn'], dtype=object),
 'cellpar': array([8.7, 8.7, 5, 90, 90, 90], dtype=object),
 'occupancies': array([1, 1, 1, 1], dtype=object)}

In [26]:
type(params_2['cellpar'][0][0])

TypeError: 'float' object is not subscriptable

In [ ]:
crystal_ase_2 = crystal(**params_2, pbc=True, primitive_cell=False)

In [ ]:
crystal_ase

In [ ]:
ase.spacegroup.get_spacegroup(crystal_ase_2, symprec=1e-6)

In [27]:
crystal_ase = crystal(**params, pbc=True, primitive_cell=False)

crystal_pyxtal = pyxtal()

crystal_pyxtal.from_seed(crystal_ase)

# data = ase_to_ovito(crystal_ase)

* visualize crystal
* get neighbour distances, site
* calculate enthalpy

In [ ]:
view(crystal_ase_2, 'ngl')

In [ ]:
# ase.spacegroup.get_spacegroup(atoms, symprec=1e-2)

In [ ]:
просто при рестарте пересчитывать по словарю расстояний и оккупаций(добавить оккупации) энтальпия
# добавить визуализацию кристалла матплотлиб + 
добавить все в гитхаб и добавить определение спейсгруппы

In [ ]:
from pyxtal.viz import (display_molecule,
display_molecular_site, 
display_molecular,
display_mol_crystals,
display_crystals)

In [ ]:
from ase.io import write
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
write('image.png', crystal_ase)
img = mpimg.imread('image.png')
imgplot = plt.imshow(img)
plt.show()

In [ ]:
crystal_pyxtal.show()

In [ ]:
display_crystals(crystal_pyxtal)

In [ ]:
crystal_pyxtal.show()

In [ ]:
display_crystals(crystal_pyxtal)

In [28]:
sites = []
for el_name in crystal_pyxtal.get_site_labels():
    for el_site in crystal_pyxtal.get_site_labels()[el_name]:
        sites.append((el_name, el_site))

In [ ]:
crystal_pyxtal.

In [ ]:
crystal_pyxtal.sites.split()

In [ ]:
crystal_pyxtal.atom_sites[0].position

In [ ]:
crystal_pyxtal.atom_sites[0].__dir__()

In [ ]:
crystal_pyxtal

In [ ]:
str(crystal_pyxtal.atom_sites[0]).split()

In [ ]:
s = crystal_pyxtal.atom_sites[0]

In [ ]:
s.specie

In [ ]:
s.position

In [ ]:
s.multiplicity

In [ ]:
s.wp.symbol

In [ ]:
list(np.array(str(crystal_pyxtal.atom_sites[0]).split())[[0, 3, 4, 5, 7, 9]])

In [ ]:
# добавить эту инфо на вторую стр и дать возможность добавлять в позиции атомы. добавляя или уменьшая dist df

In [ ]:
len

In [ ]:
output = []
for s in crystal_pyxtal.atom_sites:
    spl = str(s).split()
    el = spl[0]
    x = spl[3]
    y = spl[4]
    z = spl[5][:-2:]
    wp = spl[7][1:-1:]
    sym = spl[9][1:-1:]
    output.append([el, x, y, z, wp, sym])

In [ ]:
output.occ

In [35]:
df = pd.DataFrame(sites, columns=['elem', 'wp'])

In [36]:
crystal_ase.arrays['spacegroup_kinds']

array([0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3,
       3, 3, 3, 3])

In [37]:
ordered_site = [sites[i] for i in crystal_ase.arrays['spacegroup_kinds']]

In [38]:
from ase.neighborlist import NeighborList, neighbor_list

In [39]:
neigh_list = neighbor_list('ijd', crystal_ase, 3.61)

In [40]:
# вот сюда добавить site по индексам / что за номера у j? соответствуют wp??????

In [42]:
tmp = neigh_list

In [43]:
i = tmp[0]

In [44]:
j = tmp[1]

In [45]:
d = tmp[2]

In [46]:
i_decoded = [ordered_site[num] for num in i]

In [47]:
j_decoded = [ordered_site[num] for num in j]

In [48]:
from collections import defaultdict

In [49]:
{(i_, j_): d_ for (i_, j_) in zip(i_decoded, j_decoded) for d_ in d}

{(('Th', '2a'), ('Mn', '8f')): 2.5,
 (('Th', '2a'), ('Mn', '8j')): 2.5,
 (('Th', '2a'), ('Mn', '8i')): 2.5,
 (('Mn', '8j'), ('Th', '2a')): 2.5,
 (('Mn', '8j'), ('Mn', '8i')): 2.5,
 (('Mn', '8j'), ('Mn', '8f')): 2.5,
 (('Mn', '8j'), ('Mn', '8j')): 2.5,
 (('Mn', '8i'), ('Mn', '8i')): 2.5,
 (('Mn', '8i'), ('Mn', '8j')): 2.5,
 (('Mn', '8i'), ('Mn', '8f')): 2.5,
 (('Mn', '8i'), ('Th', '2a')): 2.5,
 (('Mn', '8f'), ('Mn', '8j')): 2.5,
 (('Mn', '8f'), ('Mn', '8i')): 2.5,
 (('Mn', '8f'), ('Mn', '8f')): 2.5,
 (('Mn', '8f'), ('Th', '2a')): 2.5}

In [ ]:
total = 0
for A, B, d, cnt in neigh_df.values:
    total += H(A, B, 1, 1, 1, 'miedema_coefficients.xlsx', 0, 0, 1, 1, d, cnt)

In [56]:
[*i_decoded[0], *j_decoded[0]]

['Th', '2a', 'Mn', '8f']

In [116]:
dist = []
for n in range(len(i_decoded)):
    dist.append([*i_decoded[n], *j_decoded[n]] + [round(d[n], 3), 1, 1])

In [71]:
# dist

In [83]:
dist = [[A, A_site, [B], B_site, Distance, [occ_A], [occ_B]] for (A, A_site, B, B_site, Distance, occ_A, occ_B) in dist]

In [209]:
grouped_dist_df = pd.DataFrame(dist, columns=['A', 'A_site', 'B', 'B_site', 'Distance', 'occ_A', 'occ_B']).groupby(['A', 'A_site', 'B', 'B_site', 'Distance', 'occ_A', 'occ_B'])['Distance'].count().to_frame('cnt').reset_index()

In [211]:
grouped_dist_arr = grouped_dist_df.values

In [174]:
grouped_dist_arr

array([['Mn', '8f', 'Mn', '8f', 2.5, 1, 1, 16],
       ['Mn', '8f', 'Mn', '8i', 2.688, 1, 1, 32],
       ['Mn', '8f', 'Mn', '8j', 2.52, 1, 1, 32],
       ['Mn', '8f', 'Th', '2a', 3.32, 1, 1, 16],
       ['Mn', '8i', 'Mn', '8f', 2.688, 1, 1, 32],
       ['Mn', '8i', 'Mn', '8i', 2.419, 1, 1, 8],
       ['Mn', '8i', 'Mn', '8i', 3.029, 1, 1, 32],
       ['Mn', '8i', 'Mn', '8j', 2.696, 1, 1, 16],
       ['Mn', '8i', 'Mn', '8j', 2.773, 1, 1, 16],
       ['Mn', '8i', 'Th', '2a', 3.141, 1, 1, 8],
       ['Mn', '8j', 'Mn', '8f', 2.52, 1, 1, 32],
       ['Mn', '8j', 'Mn', '8i', 2.696, 1, 1, 16],
       ['Mn', '8j', 'Mn', '8i', 2.773, 1, 1, 16],
       ['Mn', '8j', 'Mn', '8j', 2.744, 1, 1, 16],
       ['Mn', '8j', 'Th', '2a', 3.164, 1, 1, 16],
       ['Th', '2a', 'Mn', '8f', 3.32, 1, 1, 16],
       ['Th', '2a', 'Mn', '8i', 3.141, 1, 1, 8],
       ['Th', '2a', 'Mn', '8j', 3.164, 1, 1, 16]], dtype=object)

In [212]:
dist_arr = np.array([[[A], A_site, [B], B_site, Distance, [occ_A], [occ_B], cnt] for (A, A_site, B, B_site, Distance, occ_A, occ_B, cnt) in grouped_dist_arr])

/var/folders/nl/3ptw5r714wq1p94dyjsnnjzrpcfvbh/T/ipykernel_89864/2550624748.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dist_arr = np.array([[[A], A_site, [B], B_site, Distance, [occ_A], [occ_B], cnt] for (A, A_site, B, B_site, Distance, occ_A, occ_B, cnt) in grouped_dist_arr])

In [173]:
float('0.5')

0.5

In [213]:
grouped_dist_arr

array([['Mn', '8f', 'Mn', '8f', 2.5, 1, 1, 16],
       ['Mn', '8f', 'Mn', '8i', 2.688, 1, 1, 32],
       ['Mn', '8f', 'Mn', '8j', 2.52, 1, 1, 32],
       ['Mn', '8f', 'Th', '2a', 3.32, 1, 1, 16],
       ['Mn', '8i', 'Mn', '8f', 2.688, 1, 1, 32],
       ['Mn', '8i', 'Mn', '8i', 2.419, 1, 1, 8],
       ['Mn', '8i', 'Mn', '8i', 3.029, 1, 1, 32],
       ['Mn', '8i', 'Mn', '8j', 2.696, 1, 1, 16],
       ['Mn', '8i', 'Mn', '8j', 2.773, 1, 1, 16],
       ['Mn', '8i', 'Th', '2a', 3.141, 1, 1, 8],
       ['Mn', '8j', 'Mn', '8f', 2.52, 1, 1, 32],
       ['Mn', '8j', 'Mn', '8i', 2.696, 1, 1, 16],
       ['Mn', '8j', 'Mn', '8i', 2.773, 1, 1, 16],
       ['Mn', '8j', 'Mn', '8j', 2.744, 1, 1, 16],
       ['Mn', '8j', 'Th', '2a', 3.164, 1, 1, 16],
       ['Th', '2a', 'Mn', '8f', 3.32, 1, 1, 16],
       ['Th', '2a', 'Mn', '8i', 3.141, 1, 1, 8],
       ['Th', '2a', 'Mn', '8j', 3.164, 1, 1, 16]], dtype=object)

In [183]:
sum((grouped_dist_arr[:, 1] == '8i') & (grouped_dist_arr[:, 0] == 'Mn')) > 0

6

In [193]:
grouped_dist_arr[(grouped_dist_arr[:, 1] == '8i') & (grouped_dist_arr[:, 0] == 'Mn')]

In [203]:
grouped_dist_arr

array([['Mn', '8f', 'Mn', '8f', 2.5, 1, 1, 16],
       ['Mn', '8f', 'Mn', '8i', 2.688, 1, 0, 32],
       ['Mn', '8f', 'Mn', '8j', 2.52, 1, 1, 32],
       ['Mn', '8f', 'Th', '2a', 3.32, 1, 1, 16],
       ['Mn', '8i', 'Mn', '8f', 2.688, 0, 1, 32],
       ['Mn', '8i', 'Mn', '8i', 2.419, 0, 0, 8],
       ['Mn', '8i', 'Mn', '8i', 3.029, 0, 0, 32],
       ['Mn', '8i', 'Mn', '8j', 2.696, 0, 1, 16],
       ['Mn', '8i', 'Mn', '8j', 2.773, 0, 1, 16],
       ['Mn', '8i', 'Th', '2a', 3.141, 0, 1, 8],
       ['Mn', '8j', 'Mn', '8f', 2.52, 1, 1, 32],
       ['Mn', '8j', 'Mn', '8i', 2.696, 1, 0, 16],
       ['Mn', '8j', 'Mn', '8i', 2.773, 1, 0, 16],
       ['Mn', '8j', 'Mn', '8j', 2.744, 1, 1, 16],
       ['Mn', '8j', 'Th', '2a', 3.164, 1, 1, 16],
       ['Th', '2a', 'Mn', '8f', 3.32, 1, 1, 16],
       ['Th', '2a', 'Mn', '8i', 3.141, 1, 0, 8],
       ['Th', '2a', 'Mn', '8j', 3.164, 1, 1, 16]], dtype=object)

In [201]:
(grouped_dist_arr[4, 1] == '8i') & (grouped_dist_arr[4, 0] == 'Mn')

True

In [207]:
# for i,_ in enumerate(grouped_dist_arr):
#     if (grouped_dist_arr[i, 1] == '8i') & (grouped_dist_arr[i, 0] == 'Mn'):
#         grouped_dist_arr[i, 5] = 0
        
#     if (grouped_dist_arr[i, 3] == '8i') & (grouped_dist_arr[i, 2] == 'Mn'):
#         grouped_dist_arr[i, 6] = 0   
#replace exsisted row
#create dist nested arr
# add new elements
dist_arr = np.array([[[A], A_site, [B], B_site, Distance, [occ_A], [occ_B], cnt] for (A, A_site, B, B_site, Distance, occ_A, occ_B, cnt) in grouped_dist_arr])

/var/folders/nl/3ptw5r714wq1p94dyjsnnjzrpcfvbh/T/ipykernel_89864/1066983051.py:10: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  dist_arr = np.array([[[A], A_site, [B], B_site, Distance, [occ_A], [occ_B], cnt] for (A, A_site, B, B_site, Distance, occ_A, occ_B, cnt) in grouped_dist_arr])

In [214]:
dist_arr

array([[list(['Mn']), '8f', list(['Mn']), '8f', 2.5, list([1]),
        list([1]), 16],
       [list(['Mn']), '8f', list(['Mn']), '8i', 2.688, list([1]),
        list([1]), 32],
       [list(['Mn']), '8f', list(['Mn']), '8j', 2.52, list([1]),
        list([1]), 32],
       [list(['Mn']), '8f', list(['Th']), '2a', 3.32, list([1]),
        list([1]), 16],
       [list(['Mn']), '8i', list(['Mn']), '8f', 2.688, list([1]),
        list([1]), 32],
       [list(['Mn']), '8i', list(['Mn']), '8i', 2.419, list([1]),
        list([1]), 8],
       [list(['Mn']), '8i', list(['Mn']), '8i', 3.029, list([1]),
        list([1]), 32],
       [list(['Mn']), '8i', list(['Mn']), '8j', 2.696, list([1]),
        list([1]), 16],
       [list(['Mn']), '8i', list(['Mn']), '8j', 2.773, list([1]),
        list([1]), 16],
       [list(['Mn']), '8i', list(['Th']), '2a', 3.141, list([1]),
        list([1]), 8],
       [list(['Mn']), '8j', list(['Mn']), '8f', 2.52, list([1]),
        list([1]), 32],
       [list(['Mn']), '8j', list(['Mn']), '8i', 2.696, list([1]),
        list([1]), 16],
       [list(['Mn']), '8j', list(['Mn']), '8i', 2.773, list([1]),
        list([1]), 16],
       [list(['Mn']), '8j', list(['Mn']), '8j', 2.744, list([1]),
        list([1]), 16],
       [list(['Mn']), '8j', list(['Th']), '2a', 3.164, list([1]),
        list([1]), 16],
       [list(['Th']), '2a', list(['Mn']), '8f', 3.32, list([1]),
        list([1]), 16],
       [list(['Th']), '2a', list(['Mn']), '8i', 3.141, list([1]),
        list([1]), 8],
       [list(['Th']), '2a', list(['Mn']), '8j', 3.164, list([1]),
        list([1]), 16]], dtype=object)

In [ ]:
По dist_arr посчитать энтальпию

In [224]:
total = 0
for A_ar, _, B_ar, _, dist, occ_A_ar, occ_B_ar, cnt in dist_arr:
    for i, A in enumerate(A_ar):
        for j, B in enumerate(B_ar):
            total += H(A, B, 1, 1, 1, 'miedema_coefficients.xlsx', 0, 0, occ_A_ar[i], occ_B_ar[i], dist, cnt)

Mn Mn
Mn Mn
Mn Mn
Mn Th
Mn Mn
Mn Mn
Mn Mn
Mn Mn
Mn Mn
Mn Th
Mn Mn
Mn Mn
Mn Mn
Mn Mn
Mn Th
Th Mn
Th Mn
Th Mn

In [223]:
total

1.7032267294709938e+31

In [218]:
crystal_pyxtal.

------Crystal from Seed------
Dimension: 3
Composition: Th2Mn24
Group: I 4/m m m (139)
  8.7000,   8.7000,   5.0000,  90.0000,  90.0000,  90.0000, tetragonal
Wyckoff sites:
	Th @ [ 0.0000  0.0000  0.0000], WP [2a] Site [4/m2/m2/m]
	Mn @ [ 0.2770  0.5000  0.0000], WP [8j] Site [mm2.]
	Mn @ [ 0.3610  0.0000  0.0000], WP [8i] Site [mm2.]
	Mn @ [ 0.2500  0.2500  0.2500], WP [8f] Site [..2/m]

In [177]:
for row in dist_arr[(grouped_dist_arr[:, 1] == '8i')]:
    row[0].append('K')
    row[5].append(1)
    row[5] = [occ/norm_sum for occ in row[5]]

In [178]:
for row in dist_arr[(grouped_dist_arr[:, 3] == '8i')]:
    row[2].append('K')
    row[6].append(1)
    norm_sum = sum(row[6])
    row[6] = [occ/norm_sum for occ in row[6]]

In [179]:
for i, row in enumerate(dist_arr):
    norm_sum = sum(dist_arr[i][6])
    dist_arr[i][6] = [occ/norm_sum for occ in dist_arr[i][6]]
    print(dist_arr[i][6])
    norm_sum = sum(dist_arr[i][5])
    dist_arr[i][5] = [occ/norm_sum for occ in dist_arr[i][5]]

[1.0]
[0.25, 0.25, 0.5]
[1.0]
[1.0]
[1.0]
[0.25, 0.25, 0.5]
[0.25, 0.25, 0.5]
[1.0]
[1.0]
[1.0]
[1.0]
[0.25, 0.25, 0.5]
[0.25, 0.25, 0.5]
[1.0]
[1.0]
[1.0]
[0.25, 0.25, 0.5]
[1.0]

In [206]:
dist_arr

array([[list(['Mn']), '8f', list(['Mn']), '8f', 2.5, list([1]),
        list([1]), 16],
       [list(['Mn']), '8f', list(['Mn']), '8i', 2.688, list([1]),
        list([0]), 32],
       [list(['Mn']), '8f', list(['Mn']), '8j', 2.52, list([1]),
        list([1]), 32],
       [list(['Mn']), '8f', list(['Th']), '2a', 3.32, list([1]),
        list([1]), 16],
       [list(['Mn']), '8i', list(['Mn']), '8f', 2.688, list([0]),
        list([1]), 32],
       [list(['Mn']), '8i', list(['Mn']), '8i', 2.419, list([0]),
        list([0]), 8],
       [list(['Mn']), '8i', list(['Mn']), '8i', 3.029, list([0]),
        list([0]), 32],
       [list(['Mn']), '8i', list(['Mn']), '8j', 2.696, list([0]),
        list([1]), 16],
       [list(['Mn']), '8i', list(['Mn']), '8j', 2.773, list([0]),
        list([1]), 16],
       [list(['Mn']), '8i', list(['Th']), '2a', 3.141, list([0]),
        list([1]), 8],
       [list(['Mn']), '8j', list(['Mn']), '8f', 2.52, list([1]),
        list([1]), 32],
       [list(['Mn']), '8j', list(['Mn']), '8i', 2.696, list([1]),
        list([0]), 16],
       [list(['Mn']), '8j', list(['Mn']), '8i', 2.773, list([1]),
        list([0]), 16],
       [list(['Mn']), '8j', list(['Mn']), '8j', 2.744, list([1]),
        list([1]), 16],
       [list(['Mn']), '8j', list(['Th']), '2a', 3.164, list([1]),
        list([1]), 16],
       [list(['Th']), '2a', list(['Mn']), '8f', 3.32, list([1]),
        list([1]), 16],
       [list(['Th']), '2a', list(['Mn']), '8i', 3.141, list([1]),
        list([0]), 8],
       [list(['Th']), '2a', list(['Mn']), '8j', 3.164, list([1]),
        list([1]), 16]], dtype=object)

In [161]:
sm = sum([1, 1])a

2

In [171]:
dist_arr

array([[list(['Mn']), '8f', list(['Mn']), '8f', 2.5, list([1.0]),
        list([1.0]), 16],
       [list(['Mn']), '8f', list(['Mn', 'K']), '8i', 2.688, list([1.0]),
        list([0.5, 0.5]), 32],
       [list(['Mn']), '8f', list(['Mn']), '8j', 2.52, list([1.0]),
        list([1.0]), 32],
       [list(['Mn']), '8f', list(['Th']), '2a', 3.32, list([1.0]),
        list([1.0]), 16],
       [list(['Mn', 'K']), '8i', list(['Mn']), '8f', 2.688,
        list([0.5, 0.5]), list([1.0]), 32],
       [list(['Mn', 'K']), '8i', list(['Mn', 'K']), '8i', 2.419,
        list([0.5, 0.5]), list([0.5, 0.5]), 8],
       [list(['Mn', 'K']), '8i', list(['Mn', 'K']), '8i', 3.029,
        list([0.5, 0.5]), list([0.5, 0.5]), 32],
       [list(['Mn', 'K']), '8i', list(['Mn']), '8j', 2.696,
        list([0.5, 0.5]), list([1.0]), 16],
       [list(['Mn', 'K']), '8i', list(['Mn']), '8j', 2.773,
        list([0.5, 0.5]), list([1.0]), 16],
       [list(['Mn', 'K']), '8i', list(['Th']), '2a', 3.141,
        list([0.5, 0.5]), list([1.0]), 8],
       [list(['Mn']), '8j', list(['Mn']), '8f', 2.52, list([1.0]),
        list([1.0]), 32],
       [list(['Mn']), '8j', list(['Mn', 'K']), '8i', 2.696, list([1.0]),
        list([0.5, 0.5]), 16],
       [list(['Mn']), '8j', list(['Mn', 'K']), '8i', 2.773, list([1.0]),
        list([0.5, 0.5]), 16],
       [list(['Mn']), '8j', list(['Mn']), '8j', 2.744, list([1.0]),
        list([1.0]), 16],
       [list(['Mn']), '8j', list(['Th']), '2a', 3.164, list([1.0]),
        list([1.0]), 16],
       [list(['Th']), '2a', list(['Mn']), '8f', 3.32, list([1.0]),
        list([1.0]), 16],
       [list(['Th']), '2a', list(['Mn', 'K']), '8i', 3.141, list([1.0]),
        list([0.5, 0.5]), 8],
       [list(['Th']), '2a', list(['Mn']), '8j', 3.164, list([1.0]),
        list([1.0]), 16]], dtype=object)

In [148]:
dist_arr[(grouped_dist_arr[:, 1] == '8i')]

array([[list(['Mn', 'K']), '8i', list(['Mn']), '8f', 2.688, list([1]),
        list([1]), 32],
       [list(['Mn', 'K']), '8i', list(['Mn']), '8i', 2.419, list([1]),
        list([1]), 8],
       [list(['Mn', 'K']), '8i', list(['Mn']), '8i', 3.029, list([1]),
        list([1]), 32],
       [list(['Mn', 'K']), '8i', list(['Mn']), '8j', 2.696, list([1]),
        list([1]), 16],
       [list(['Mn', 'K']), '8i', list(['Mn']), '8j', 2.773, list([1]),
        list([1]), 16],
       [list(['Mn', 'K']), '8i', list(['Th']), '2a', 3.141, list([1]),
        list([1]), 8]], dtype=object)

In [111]:
grouped_dist['A'].tolist()

['Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Th',
 'Th',
 'Th']

In [109]:
grouped_dist.apply(lambda x: list(x))

     A A_site   B B_site  Distance  occ_A  occ_B  cnt
0   Mn     8f  Mn     8f     2.500      1      1   16
1   Mn     8f  Mn     8i     2.688      1      1   32
2   Mn     8f  Mn     8j     2.520      1      1   32
3   Mn     8f  Th     2a     3.320      1      1   16
4   Mn     8i  Mn     8f     2.688      1      1   32
5   Mn     8i  Mn     8i     2.419      1      1    8
6   Mn     8i  Mn     8i     3.029      1      1   32
7   Mn     8i  Mn     8j     2.696      1      1   16
8   Mn     8i  Mn     8j     2.773      1      1   16
9   Mn     8i  Th     2a     3.141      1      1    8
10  Mn     8j  Mn     8f     2.520      1      1   32
11  Mn     8j  Mn     8i     2.696      1      1   16
12  Mn     8j  Mn     8i     2.773      1      1   16
13  Mn     8j  Mn     8j     2.744      1      1   16
14  Mn     8j  Th     2a     3.164      1      1   16
15  Th     2a  Mn     8f     3.320      1      1   16
16  Th     2a  Mn     8i     3.141      1      1    8
17  Th     2a  Mn     8j     3.164      1      1   16

In [89]:
pd.DataFrame([[[]]])

    0
0  []

In [88]:
tmp= []

In [65]:
neigh_df[neigh_df.A_site=='8i']

    A A_site   B B_site  Distance  cnt
4  Mn     8i  Mn     8f     2.688   32
5  Mn     8i  Mn     8i     2.419    8
6  Mn     8i  Mn     8i     3.029   32
7  Mn     8i  Mn     8j     2.696   16
8  Mn     8i  Mn     8j     2.773   16
9  Mn     8i  Th     2a     3.141    8

In [64]:
('K', '8i')

('K', '8i')

In [ ]:
neigh_df

In [ ]:
# спарсить элементы с m по n и замену найти  и добавить окупацию. Т. е добавить окупацию А и Б!!!!!!!
базовый паровый набор сохранить

In [ ]:
#теперь нaадо все это добро: таблицу, график кристалла sites выводить!!!!