In [16]:
from Enthalpy_calculation import H_miedema

import numpy as np, pandas as pd

from pyxtal.symmetry import Group
from pyxtal.molecule import pyxtal_molecule
from pymatgen.core import Molecule
from pyxtal import pyxtal
import ase
from ase.spacegroup import crystal
from ase.visualize import view
from ase.neighborlist import get_distance_matrix
from ase.geometry import get_distances

from ase.geometry.analysis import Analysis
from pyxtal.lattice import Lattice
import ase.io as io
from ase.build import cut
from ase.spacegroup import crystal
from pyxtal.viz import display_crystals
# import pandas as pd
from ase.spacegroup import Spacegroup

In [17]:
# params = {'spacegroup': 136,
#     'basis': [(0, 0, 0), (0.3, 0.3, 0.0)],
#     'symbols': ['Ti', 'O'],
#     'a': 4.6,
#     'b': 4.6,
#     'c': 2.95,
#     'alp': 90,
#     'bet': 90,
#     'gam': 90,
#     'occupancies': None,
# }

# g = Group(params['spacegroup'])

# # g = Group()
# g

# g.lattice_type


# cell = Lattice.from_para(params['a'], 
#                          params['b'], 
#                          params['c'], 
#                          params['alp'], 
#                          params['bet'],
#                          params['gam'],
#                          ltype=g.lattice_type)
# spg = g.number
# elements = params['symbols']
# composition = [2, 4]

# sites = [{"2a": params['basis'][0]},
#           {"4f": params['basis'][1]},
         
#         ]

# s = pyxtal()
# s.from_random(3, spg, elements, composition, lattice=cell, sites=sites)
# print(s)

# # view(s_ase, viewer='x3d', repeat=1)

# # s.show()

# s_ase = s.to_ase()

# s_ase.get_chemical_symbols()

# s_ase.get_atomic_numbers()

# s_ase.get_positions()

# print(s_ase.get_all_distances())

# print(s_ase.get_all_distances()[4][2])

# s_ase.get_all_distances()

# s_ase.get_positions()

# s_ase.get_all_distances()[0][4]



# display_crystals(s)

# view(s_ase)
# g = Group(params['spacegroup'])

In [18]:
#     'a': 4.6,
#     'b': 4.6,
#     'c': 2.95,

In [19]:
(4.6*4.6*2.95)**(0.333333)

3.966845579368448

In [20]:
# как определять site проверить, может для ase не нужен ? т.е site задается через координаты или через буквы
# как в данном кейсе заполнять occupancies пока не удалось решить, возможно, хранить отдельно?
# финальная формула для энергии узнать таблицы в экселе у Виктории
# distances идут в порядке элементов в списке элементов? проверить в коде метода

In [21]:
crystal_parameters_df = pd.read_excel('crystal_parameters.xlsx',index_col=0, header=None)

In [22]:
print('\n')

In [23]:
crystal_parameters_df

                    1      2      3     4
0
symbols            Th     Mn     Mn    Mn
x                 0.5  0.277  0.361  0.25
y                 0.5    0.5      0  0.25
z                 0.5      0      0  0.25
spacegroup        139    NaN    NaN   NaN
a                 8.7    NaN    NaN   NaN
b                 8.7    NaN    NaN   NaN
c                   5    NaN    NaN   NaN
alpha              90    NaN    NaN   NaN
beta               90    NaN    NaN   NaN
gamma              90    NaN    NaN   NaN
occupancies         1      1      1     1
type of compound    2    NaN    NaN   NaN

In [24]:
crystal_parameters_df.loc['spacegroup']

1    139
2    NaN
3    NaN
4    NaN
Name: spacegroup, dtype: object

In [25]:
crystal_parameters_df.loc[['x','y','z'],:].values

array([[0.5, 0.277, 0.361, 0.25],
       [0.5, 0.5, 0, 0.25],
       [0.5, 0, 0, 0.25]], dtype=object)

In [26]:
params = {'spacegroup': crystal_parameters_df.loc['spacegroup'].values[0],
    'basis': [tuple(x) for x in crystal_parameters_df.loc[['x','y','z'],:].values.T],
    'symbols': crystal_parameters_df.loc['symbols'].values,
    'cellpar': crystal_parameters_df.loc[['a', 'b', 'c', 'alpha', 'beta', 'gamma']].loc[:, 1].values,
    'occupancies': crystal_parameters_df.loc['occupancies'].values,
    
}

type_of_compound = crystal_parameters_df.loc['type of compound'].values[0]

In [27]:
params

{'spacegroup': 139,
 'basis': [(0.5, 0.5, 0.5),
  (0.277, 0.5, 0),
  (0.361, 0, 0),
  (0.25, 0.25, 0.25)],
 'symbols': array(['Th', 'Mn', 'Mn', 'Mn'], dtype=object),
 'cellpar': array([8.7, 8.7, 5, 90, 90, 90], dtype=object),
 'occupancies': array([1, 1, 1, 1], dtype=object)}

In [28]:
crystal_ase = crystal(**params, pbc=True)

crystal_pyxtal = pyxtal()

crystal_pyxtal.from_seed(crystal_ase)

In [29]:
crystal_ase.get_global_number_of_atoms()

26

In [30]:
crystal_pyxtal.get_site_labels()

{'Th': ['2a'], 'Mn': ['8j', '8i', '8f']}

In [31]:
crystal_pyxtal.atom_sites[1].coords

array([[ 0.277,  0.5  ,  0.   ],
       [-0.277,  0.5  ,  0.   ],
       [ 0.5  ,  0.277,  0.   ],
       [ 0.5  , -0.277,  0.   ],
       [ 0.777,  1.   ,  0.5  ],
       [ 0.223,  1.   ,  0.5  ],
       [ 1.   ,  0.777,  0.5  ],
       [ 1.   ,  0.223,  0.5  ]])

In [32]:

crystal_pyxtal.atom_sites[1].specie

'Mn'

In [33]:
crystal_pyxtal.atom_sites[1].multiplicity

8

In [34]:
uniq_elem = list(crystal_pyxtal.get_site_labels().keys())

In [35]:
num_Ions = crystal_pyxtal.numIons

In [36]:
num_Ions

array([24,  2])

In [37]:
# Th-Mn1
H_miedema(crystal_pyxtal.atom_sites[0].specie, 
  crystal_pyxtal.atom_sites[1].specie, 
  crystal_pyxtal.atom_sites[0].multiplicity/(crystal_pyxtal.atom_sites[0].multiplicity+crystal_pyxtal.atom_sites[1].multiplicity), 
  crystal_pyxtal.atom_sites[1].multiplicity/(crystal_pyxtal.atom_sites[0].multiplicity+crystal_pyxtal.atom_sites[1].multiplicity),
  type_of_compound,
  'miedema_coefficients.xlsx')

(-6.185447601177801, 7.3, 1.0)

In [38]:
# Th-Mn2
H_miedema(crystal_pyxtal.atom_sites[0].specie, 
  crystal_pyxtal.atom_sites[2].specie, 
  crystal_pyxtal.atom_sites[0].multiplicity/(crystal_pyxtal.atom_sites[0].multiplicity+crystal_pyxtal.atom_sites[2].multiplicity), 
  crystal_pyxtal.atom_sites[2].multiplicity/(crystal_pyxtal.atom_sites[0].multiplicity+crystal_pyxtal.atom_sites[2].multiplicity),
  type_of_compound,
  'miedema_coefficients.xlsx')

(-6.185447601177801, 7.3, 1.0)

In [39]:
# Th-Mn3
H_miedema(crystal_pyxtal.atom_sites[0].specie, 
  crystal_pyxtal.atom_sites[3].specie, 
  crystal_pyxtal.atom_sites[0].multiplicity/(crystal_pyxtal.atom_sites[0].multiplicity+crystal_pyxtal.atom_sites[3].multiplicity), 
  crystal_pyxtal.atom_sites[3].multiplicity/(crystal_pyxtal.atom_sites[0].multiplicity+crystal_pyxtal.atom_sites[3].multiplicity),
  type_of_compound,
  'miedema_coefficients.xlsx')

(-6.185447601177801, 7.3, 1.0)

In [40]:
crystal_pyxtal.atom_sites[2]

Mn @ [ 0.3610  0.0000  0.0000], WP [8i] Site [mm2.]

In [41]:
crystal_ase.get_chemical_symbols()

['Th',
 'Th',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn',
 'Mn']

In [42]:
crystal_pyxtal.get_site_labels()
crystal_pyxtal.atom_sites[1].specie
crystal_pyxtal.atom_sites[1].multiplicity

8

In [43]:
crystal_pyxtal.get_site_labels()['Th']

['2a']

In [44]:

list(zip(crystal_pyxtal.get_site_labels(), crystal_pyxtal.get_site_labels().values()))

[('Th', ['2a']), ('Mn', ['8j', '8i', '8f'])]

In [45]:
full_elem_name = []
for elem in crystal_pyxtal.get_site_labels():
    for site in crystal_pyxtal.get_site_labels()[elem]:
        n = int(site[0])
        for i in range(1, n+1):     
            # full_elem_name.append('_'.join([elem, site, str(i)]))
            full_elem_name.append((elem, site, i))

In [46]:
crystal_pyxtal.get_site_labels()

{'Th': ['2a'], 'Mn': ['8j', '8i', '8f']}

In [47]:
crystal_ase.arrays

{'numbers': array([90, 90, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,
        25, 25, 25, 25, 25, 25, 25, 25, 25]),
 'positions': array([[4.35  , 4.35  , 2.5   ],
        [0.    , 0.    , 0.    ],
        [2.4099, 4.35  , 0.    ],
        [6.2901, 4.35  , 0.    ],
        [4.35  , 2.4099, 0.    ],
        [4.35  , 6.2901, 0.    ],
        [6.7599, 0.    , 2.5   ],
        [1.9401, 0.    , 2.5   ],
        [0.    , 6.7599, 2.5   ],
        [0.    , 1.9401, 2.5   ],
        [3.1407, 0.    , 0.    ],
        [5.5593, 0.    , 0.    ],
        [0.    , 3.1407, 0.    ],
        [0.    , 5.5593, 0.    ],
        [7.4907, 4.35  , 2.5   ],
        [1.2093, 4.35  , 2.5   ],
        [4.35  , 7.4907, 2.5   ],
        [4.35  , 1.2093, 2.5   ],
        [2.175 , 2.175 , 1.25  ],
        [6.525 , 6.525 , 1.25  ],
        [6.525 , 2.175 , 1.25  ],
        [2.175 , 6.525 , 1.25  ],
        [6.525 , 2.175 , 3.75  ],
        [2.175 , 6.525 , 3.75  ],
        [2.175 , 2.175 , 3.75  ],
        [6.525 , 6.525 , 3.75  ]]),
 'spacegroup_kinds': array([0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3,
        3, 3, 3, 3])}

In [48]:
# spacegroup_kinds add

In [49]:
pd.DataFrame(crystal_ase.positions, index=full_elem_name, columns=['x', 'y', 'z'])

                  x       y     z
(Th, 2a, 1)  4.3500  4.3500  2.50
(Th, 2a, 2)  0.0000  0.0000  0.00
(Mn, 8j, 1)  2.4099  4.3500  0.00
(Mn, 8j, 2)  6.2901  4.3500  0.00
(Mn, 8j, 3)  4.3500  2.4099  0.00
(Mn, 8j, 4)  4.3500  6.2901  0.00
(Mn, 8j, 5)  6.7599  0.0000  2.50
(Mn, 8j, 6)  1.9401  0.0000  2.50
(Mn, 8j, 7)  0.0000  6.7599  2.50
(Mn, 8j, 8)  0.0000  1.9401  2.50
(Mn, 8i, 1)  3.1407  0.0000  0.00
(Mn, 8i, 2)  5.5593  0.0000  0.00
(Mn, 8i, 3)  0.0000  3.1407  0.00
(Mn, 8i, 4)  0.0000  5.5593  0.00
(Mn, 8i, 5)  7.4907  4.3500  2.50
(Mn, 8i, 6)  1.2093  4.3500  2.50
(Mn, 8i, 7)  4.3500  7.4907  2.50
(Mn, 8i, 8)  4.3500  1.2093  2.50
(Mn, 8f, 1)  2.1750  2.1750  1.25
(Mn, 8f, 2)  6.5250  6.5250  1.25
(Mn, 8f, 3)  6.5250  2.1750  1.25
(Mn, 8f, 4)  2.1750  6.5250  1.25
(Mn, 8f, 5)  6.5250  2.1750  3.75
(Mn, 8f, 6)  2.1750  6.5250  3.75
(Mn, 8f, 7)  2.1750  2.1750  3.75
(Mn, 8f, 8)  6.5250  6.5250  3.75

In [50]:
occup = {}
for dicts in crystal_ase.info['occupancy'].values():
    for el in dicts.keys():
        occup[el] = dicts[el]

In [51]:
crystal_ase.info['occupancy']

{'0': {'Th': 1}, '1': {'Mn': 1}, '2': {'Mn': 1}, '3': {'Mn': 1}}

In [52]:
# crystal_pyxtal.show()

In [53]:
# view(crystal_ase, viewer='x3d', repeat=1)

In [54]:
atoms_distances = pd.DataFrame(crystal_ase.get_all_distances(), 
                  index=full_elem_name, 
                  columns=full_elem_name)

In [55]:
crystal_ase

Atoms(symbols='Th2Mn24', pbc=True, cell=[8.7, 8.7, 5.0], spacegroup_kinds=...)

In [56]:
# хочу или сохранять индексы где какой у меня марганец или сразу в таблице указывать какой из 3 типов

In [57]:
atoms_distances.iloc[0, :]

(Th, 2a, 1)    0.000000
(Th, 2a, 2)    6.640407
(Mn, 8j, 1)    3.164489
(Mn, 8j, 2)    3.164489
(Mn, 8j, 3)    3.164489
(Mn, 8j, 4)    3.164489
(Mn, 8j, 5)    4.972939
(Mn, 8j, 6)    4.972939
(Mn, 8j, 7)    4.972939
(Mn, 8j, 8)    4.972939
(Mn, 8i, 1)    5.160902
(Mn, 8i, 2)    5.160902
(Mn, 8i, 3)    5.160902
(Mn, 8i, 4)    5.160902
(Mn, 8i, 5)    3.140700
(Mn, 8i, 6)    3.140700
(Mn, 8i, 7)    3.140700
(Mn, 8i, 8)    3.140700
(Mn, 8f, 1)    3.320203
(Mn, 8f, 2)    3.320203
(Mn, 8f, 3)    3.320203
(Mn, 8f, 4)    3.320203
(Mn, 8f, 5)    3.320203
(Mn, 8f, 6)    3.320203
(Mn, 8f, 7)    3.320203
(Mn, 8f, 8)    3.320203
Name: (Th, 2a, 1), dtype: float64

In [58]:
elements = params['symbols']

In [59]:
# for el in elements:
#     print(np.where(atoms_distances.columns==el))

In [60]:
g = Group(params['spacegroup'])
cell = Lattice.from_para(*params['cellpar'],
                         ltype=g.lattice_type)

In [61]:
# посчитать delta H1 для всех пар по формуле

In [62]:
import ovito
print("Hello, this is OVITO %i.%i.%i" % ovito.version)

Hello, this is OVITO 3.7.11

In [63]:
from ovito.pipeline import StaticSource, Pipeline
from ovito.io.ase import ase_to_ovito
from ase.atoms import Atoms
from ovito.io import *
from ovito.data import *
from ovito.modifiers import *
from ovito.pipeline import *
import numpy as np

In [64]:
data = ase_to_ovito(crystal_ase)

In [65]:
pipeline = Pipeline(source = StaticSource(data = data))

In [66]:
len(full_elem_name)

26

In [67]:

# pipeline = import_file("input/simulation.*.dump")

# Perform Wigner-Seitz analysis:
ws = WignerSeitzAnalysisModifier(
    per_type_occupancies = True,
    affine_mapping = ReferenceConfigurationModifier.AffineMapping.ToReference)
pipeline.modifiers.append(ws)

In [68]:
from ovito.io import import_file
from ovito.data import CutoffNeighborFinder

# Load input simulation file.
data = pipeline.compute()

# Initialize neighbor finder object:
cutoff = ((crystal_ase.get_volume())**(1/3))/2
finder = CutoffNeighborFinder(cutoff, data)

In [69]:
cutoff

3.6166474358405565

In [73]:
data.particles.particle_types.types.name

AttributeError: 'ovito.data.ElementTypeList' object has no attribute 'name'

In [74]:
id_to_name = {t.id: t.name for t in data.particles.particle_types.types}

In [95]:
data.particles.particle_types.types[0].

TypeError: 'NoneType' object is not callable

In [70]:
data.particle_properties.particle_type.array

AttributeError: 'ovito.data.DataCollection' object has no attribute 'particle_properties'

In [97]:
full_elem_name

[('Th', '2a', 1),
 ('Th', '2a', 2),
 ('Mn', '8j', 1),
 ('Mn', '8j', 2),
 ('Mn', '8j', 3),
 ('Mn', '8j', 4),
 ('Mn', '8j', 5),
 ('Mn', '8j', 6),
 ('Mn', '8j', 7),
 ('Mn', '8j', 8),
 ('Mn', '8i', 1),
 ('Mn', '8i', 2),
 ('Mn', '8i', 3),
 ('Mn', '8i', 4),
 ('Mn', '8i', 5),
 ('Mn', '8i', 6),
 ('Mn', '8i', 7),
 ('Mn', '8i', 8),
 ('Mn', '8f', 1),
 ('Mn', '8f', 2),
 ('Mn', '8f', 3),
 ('Mn', '8f', 4),
 ('Mn', '8f', 5),
 ('Mn', '8f', 6),
 ('Mn', '8f', 7),
 ('Mn', '8f', 8)]

In [53]:
# Prefetch the property array containing the particle type information:
ptypes = data.particles.particle_types

# Loop over all particles:
# for index in range(data.particles.count):

neigh_list = []
id_to_name = {t.id: t.name for t in data.particles.particle_types.types}
for index in range(len(full_elem_name)):

    # Iterate over the neighbors of the current particle:


    # print(f"Neighbors of particle {index}, {id_to_name[ptypes[index]]}:")

    for neigh in finder.find(index):
        type_of_neighbor = ptypes[neigh.index]
        # print(neigh.index, neigh.distance, neigh.delta, neigh.pbc_shift, id_to_name[type_of_neighbor])
        neigh_list.append((round(neigh.distance, 3), id_to_name[ptypes[index]], id_to_name[type_of_neighbor]))
        # pipeline.compute().particles.particle_types.types[0].name
            # The index can be used to access properties of the current neighbor, e.g.
            # type_of_neighbor = ptypes[neigh.index]
            
neigh_df = pd.DataFrame(neigh_list, columns=['Distance', 'A', 'B'])\
                .groupby(['A', 'B', 'Distance'])['Distance'].count().to_frame('cnt').reset_index()

In [ ]:
как добавить sites сюда!!!!

In [54]:
neigh_df

     A   B  Distance  cnt
0   Mn  Mn     2.419    8
1   Mn  Mn     2.500   16
2   Mn  Mn     2.520   64
3   Mn  Mn     2.688   64
4   Mn  Mn     2.696   32
5   Mn  Mn     2.744   16
6   Mn  Mn     2.773   32
7   Mn  Mn     3.029   32
8   Mn  Th     3.141    8
9   Mn  Th     3.164   16
10  Mn  Th     3.320   16
11  Th  Mn     3.141    8
12  Th  Mn     3.164   16
13  Th  Mn     3.320   16

In [55]:
#беру самый большой
from Enthalpy_calculation import H

In [64]:
A, B, d, cnt = neigh_df.iloc[-1]

In [65]:
H(A, B, 1, 1, 1, 'miedema_coefficients.xlsx', 0, 0, 1, 1, d, cnt)

1.1643781870799192e+30

In [66]:
H_miedema(A, B, 0.5, 0.5, 3, 'miedema_coefficients.xlsx')

(-9.334982488816511, 7.3, 1.0)

In [73]:
total = 0
for A, B, d, cnt in neigh_df.values:
    total += H(A, B, 1, 1, 1, 'miedema_coefficients.xlsx', 0, 0, 1, 1, d, cnt)

In [74]:
total

1.7032267294709938e+31

In [79]:
!pip install Kivy-2.1.0.tar.gz

Looking in indexes: https://token:****@sberosc.sigma.sbrf.ru/repo/pypi/simple, https://token:****@sberosc.sigma.sbrf.ru/repo/nvidia_pypi
Processing ./Kivy-2.1.0.tar.gz
  Installing build dependencies ... error
  error: subprocess-exited-with-error

  × pip subprocess to install build dependencies did not run successfully.
  │ exit code: 1
  ╰─> [19 lines of output]
      Looking in indexes: https://token:****@sberosc.sigma.sbrf.ru/repo/pypi/simple, https://token:****@sberosc.sigma.sbrf.ru/repo/nvidia_pypi, https://token:****@sberosc.sigma.sbrf.ru/repo/nvidia_pypi
      Ignoring kivy_deps.gstreamer_dev: markers 'sys_platform == "win32"' don't match your environment
      Ignoring kivy_deps.sdl2_dev: markers 'sys_platform == "win32"' don't match your environment
      Ignoring kivy_deps.glew_dev: markers 'sys_platform == "win32"' don't match your environment
      Ignoring kivy_deps.gstreamer: markers 'sys_platform == "win32"' don't match your environment
      Ignoring kivy_deps.sdl2: markers 'sys_platform == "win32"' don't match your environment
      Ignoring kivy_deps.glew: markers 'sys_platform == "win32"' don't match your environment
      WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a9e04c0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/setuptools/
      WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a9e0820>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/setuptools/
      WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a9e09d0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/setuptools/
      WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a9e0b80>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/setuptools/
      WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a9e0d30>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/pypi/simple/setuptools/
      WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a9e0e80>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/nvidia_pypi/setuptools/
      WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a9392e0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/nvidia_pypi/setuptools/
      WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a939490>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/nvidia_pypi/setuptools/
      WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a939640>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/nvidia_pypi/setuptools/
      WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f851a9397f0>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known')': /repo/nvidia_pypi/setuptools/
      ERROR: Could not find a version that satisfies the requirement setuptools (from versions: none)
      ERROR: No matching distribution found for setuptools
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× pip subprocess to install build dependencies did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.